@{
    ViewData["Title"] = "Home Page";
}

<p>
    <strong>Fullness:</strong> @ViewBag.Fullness &nbsp
    <strong>Happiness</strong> @ViewBag.Happiness &nbsp
    <strong>Meals:</strong> @ViewBag.Meals &nbsp
    <strong>Energy:</strong> @ViewBag.Energy
</p>

